@import './variables';

@mixin navigatie {
    .navigatie-lijst{
                
        .navigatie-item{
            display: inline;
            justify-content: space-around;
            padding: 5px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
            .navigatie-link{
                color: $clr-blk;
                text-decoration: none;
            }
            
        }
    }
}

@mixin side-btn{
    text-decoration: none;
            color: $clr-blk;
            background-color: $clr-ylw;
            border-radius: 25px;
            font-size: 1.4rem;
            border: 1px solid $clr-ylw;
            box-shadow: 2px 4px $clr-red;
            transition: 350ms background-color, box-shadow ease-out;
            cursor: pointer;
            // margin: 5px;
            padding: 5px;
            min-width: 190px;
            max-width: 200px;
            &:hover{
                box-shadow: 0px 0px $clr-red;
                background-color: $clr-red;
                border: 1px solid $clr-blk;
            }
}

@mixin img-round{
    margin: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid $clr-ylw;
}

@mixin img-oval{
    margin: 15px;
    width: 100px;
    // height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $clr-red;
}

@mixin footer-content{
    color: $clr-blk;
    text-shadow: 2px 1px $clr-red;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    ul{
        flex-grow: 2;
    }

    @media only screen and (max-width:400px) {
        ul{
            font-size: 1em;
        }
        
    }

    h2{
        width: 100%;
    }

    a{
        text-decoration: none;
        color: $clr-blk;
        width: 100%;
        transition: 350ms background-color ease-in-out;

        &:hover{
            background-color: $clr-red;
        }

        i{
            padding: 0 10px 10px 0;
        }
    }

    .resource-logo{
        max-width: 30px;
        border: none;
        margin: 0;
        padding-right: 5px;
    }
}

@mixin navi-scr-view{
    @media only screen and (max-width:400px){
        .desktop-view{
            display: none;
        }
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
        }
    }
    @media only screen and (min-width:401px){
        .mobile-view{
            display: none;
        }
    }
}

// project filmfinder
@mixin radio-input {
    appearance: none;
    color: yellow;
    border: 1px solid yellow;
    width: $radio;
    height: $radio;
    border-radius: 50%;
    display: grid;
    width: $radio;
    place-content: center;
    margin: 0;

    &::before{
        content: "";
        width: $radio-inside;
        height: $radio-inside;
        border-radius: 50%;
        transform: scale(0);
        transition: 200ms transform ease-in-out;
        box-shadow: inset 1em 1em red;
    }
    &:checked::before{
        transform: scale(1);
    }
}

@mixin poster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    .movie-poster{
        border: 1px solid yellow;
        
        &:hover{
            opacity: 0.2;
        }
    }
}

@mixin zoekbalk{
    width: 53%;
    background-color: rgba(255, 255, 0, 0.9);
    height: 1.3rem;
    padding: 5px;
    color: black;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: border 250ms ;
    height: 27px;

    &::placeholder{
        color: black;
        transform: translateX(10px);
    }

    &:focus-within{
        border: 3px solid red;
    }
    
}
// end of filmfinder

// project PokeAPI
@mixin pokemon{
    text-align: left;
    margin-left: 25px;
    cursor: pointer;
}

@mixin digit-position{
    .team-a1{
        left: 5%;
        // top: 100px;
    }
    .team-a2{
        left: 25%;
    }
    .team-b1{
        right: 25%;
        // top: 100px;
    }
    .team-b2{
        right: 5%;
    }
}