@mixin navigatie {
    .navigatie-lijst{
        
        .navigatie-item{
            display: inline;
            justify-content: space-around;
            padding: 5px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }
}

@mixin img-round{
    margin: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid $clr-ylw;
}

@mixin img-oval{
    margin: 15px;
    width: 100px;
    // height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $clr-red;
}