// see cssreadme.md file for more info

// Color variables
$clr-main-font:yellow;
$clr-main-bg:black;
$clr-href-font:$clr-main-bg;
$clr-href-bg:$clr-main-font;
$clr-head-font:red;
$clr-head-shadow:$clr-main-font;
$clr-img-bord:4px solid $clr-main-font;

// Size variables
$img-square: 200px;
