$clr-blk:black;
$clr-ylw:yellow;
$clr-red:red;

$fnt-size:1.5rem;

$border-size:3px;

h1{
    font-size: 1.5em;
    padding: 10px;
    font-weight: 700;
}
h2{
    font-size: 1.2em;
    padding: 10px;
    font-weight: 700;
}