body{
    margin: 0;
}
@media screen and (max-width:400px){
    #body-container{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 150px auto minmax(300px,auto) 150px;
        margin: 0;
    }
}
@media screen and (max-width:600px){
    #body-container{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 150px 100px minmax(300px,auto) 150px;
        margin: 0;
    }
    
    
    #content{
        grid-column: 1 / -1;
        font-size: 1.1em;
        text-align: center;
        padding: 15px;
    }
    
}

@media  screen and (min-width:601px) {
    
#body-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 150px 400px 150px;
}
#content{
    grid-column: 3 / -1;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}

}
