@import './variables';
@import './mixins';

html, body{
    min-height: 100%;
}
body{
    background-image: linear-gradient($clr-blk, $clr-blk, $clr-ylw);
    background-attachment: fixed;
    color: $clr-ylw;
    font-size: $fnt-size;
    text-align: center;
}
#header{
    display: flex;
    text-shadow: 2px 2px $clr-red;
    font-size: 3rem;
    min-height: 155px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}
#navigatie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $clr-ylw;
    color: $clr-blk;
    border-top: $border-size solid $clr-red;
    border-bottom: $border-size solid $clr-red;
    min-height: 30px;
    margin-bottom: 15px;
    @include navigatie;
    @include navi-scr-view;
}
.test-img{
    @include img-oval;
}
#footer{
    @include footer-content;
    
    .footer-resource-item{
        text-decoration: none;
        list-style-type: none;
        margin-left: 25px;
    }
}
.side-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .side-nav-list{
        width: 100%;

        .side-nav-item{
            display: inline-block;
            margin: 10px;
        }
    }
    @media only screen and (max-width:400px){
        width: 100%;

        .side-nav-btn{
            @include side-btn;
        }
    }
}
#content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin: auto;
    .lijst-container{
        position: relative;
        width: 50%;
    }

}
.pokemon-btn{
    margin: 10px;
    @include side-btn;
}
.pokemon-lijst{
    @include pokemon;
    position: relative;
    width: 50%;
}
.pokemon-frame{
    position: relative;
    width: 50%;

    .pokemon-image{
        position: relative;
        width: 150%;
    }
}


@media only screen and (max-width:1023px) {
    .paintball-desktop-view{
        display: none;
    }

}

@media only screen and (min-width:1024px) {

    .paintball-mobile-view{
        display: none;
    }
}